@{
    ViewData["Title"] = "ExampleLayout";
    Layout = "~/Views/Shared/ExampleLayout.cshtml";
}

@section header{
    <partial name="_HeaderPartialView" />
}
@section Css{
    <style>
        body {
            height: 100vh;
            background-color: #000;
            color: #fff;
        }

    </style>
}
@section Scripts{
    <script type="text/javascript">
        //alert("Welcome to Page");
        $(document).ready(function () {
            console.log("Welcome to page")
        })
    </script>
}

<h1>ExampleLayout</h1>
<h2>Layout Created</h2>

