@{
    ViewData["Title"] = "ExampleLayout";
    Layout = "~/Views/Shared/ExampleLayout.cshtml";
}

@section header{
    <h1>This title writed with RenderSectionAsync</h1>
}

<h1>ExampleLayout</h1>
<h2>Layout Created</h2>

